<?xml version="1.0" encoding="UTF-8"?>

<plugin id="fr.ptibulle.cordova.meetupservice2" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>MeetupService2</name>
  <description>Controle du Service 2</description>
  <license>Apache 2.0</license>
  <keywords>cordova,message,notification</keywords>
  <repo></repo>
  <issue></issue>

  <engines>
    <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
  </engines>

  <js-module name="meetupservice2" src="www/meetupservice2.js">
    <clobbers target="meetupservice2" />
  </js-module>
  
<!-- android -->
  <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
        <feature name="MeetupService2">
          <param  name="android-package" value="fr.ptibulle.cordova.MeetupService2"/>
        </feature>
      </config-file>
      <source-file  src="src/android/MeetupService2.java" target-dir="src/fr/ptibulle/cordova"/>
      <source-file  src="src/android/aidl/MeetupServiceInterface.aidl" target-dir="src/fr/ptibulle/meetupservice2"/>
  </platform>
</plugin>
