<?xml version="1.0" encoding="UTF-8"?>

<plugin id="fr.ptibulle.cordova.meetupservice3" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0">

  <name>MeetupService3</name>
  <description>Controle du Service 3</description>
  <license>Apache 2.0</license>
  <keywords>cordova,message,notification</keywords>
  <repo></repo>
  <issue></issue>

  <engines>
    <engine name="cordova" version=">=3.1.0" /><!-- Needs cordova/urlutil -->
  </engines>

  <js-module name="meetupservice3" src="www/meetupservice3.js">
    <clobbers target="meetupservice3" />
  </js-module>

<!-- android -->
  <platform name="android">
      <config-file parent="/*" target="res/xml/config.xml">
        <feature name="MeetupService3">
          <param  name="android-package" value="fr.ptibulle.cordova.MeetupService3"/>
        </feature>
      </config-file>
      <source-file  src="src/android/MeetupService3.java" target-dir="src/fr/ptibulle/cordova"/>
      <source-file  src="src/android/aidl/MeetupServiceInterface.aidl" target-dir="src/fr/ptibulle/meetupservice3"/>
      <source-file  src="src/android/aidl/MeetupServiceCallbackInterface.aidl" target-dir="src/fr/ptibulle/meetupservice3"/>
  </platform>
</plugin>
